@model IEnumerable<Learning.App.ViewModels.ProdutoDTO>

@{
    ViewData["Title"] = "Produtos";
}

<h4 style="padding-top:50px">@ViewData["Title"]</h4>
<hr />
<vc:Summary></vc:Summary>
<p>
    <a class="btn btn-success" asp-action="Create">
        <i class="fa-solid fa-plus"></i> Adicionar
    </a>

</p>
<partial name="_ListProdutos"/>
