@model Learning.App.ViewModels.FornecedorDTO

@{
    ViewData["Title"] = "Novo Fornecedor";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form asp-action="Create">
    <partial name="_Form" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
