@model Learning.App.ViewModels.FornecedorDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<hr />
        <form asp-action="Edit">
            <partial name="_Form" />
        </form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
